@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:red" class="display-4">Doug's Pet Store</h1>
    <p><a asp-controller="AppUser" asp-action="Index">Get Started</a>.</p>
</div>
